
.board{
	margin: 0 auto;
	height: 405px;
	width: 405px;
	border: 3px solid black;
}

.boxes{
	float: left;
	height: 133px;
	width: 133px;
	border: 1px solid black;
}

.boxes{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
}

.boxX{
	color: green;
}

.boxO{
	color: red;
}

.message{
	font-size: 40px;
	margin-left: 280px;
	margin-top: 50px;
	animation: message 0.3s ease-in-out;
}

@keyframes message {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

.resetButton{
	margin-left: 425px;
	font-size: 30px;
}

.resetButton:hover{
	transform: scale(1.2);
	transition: transform 0.15s ease-in-out;
	cursor: pointer;
}

.createUserButton{
	margin-left: 420px;
	font-size: 30px;
	margin-bottom: 5px;
}

.createUserButton:hover{
	transform: scale(1.2);
	transition: transform 0.15s ease-in-out;
	cursor: pointer;
}



